.navbar {
    width: 100%;
    background-color: #1f1f1f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 350px;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-item a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  