.navbar {
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,148,59,1) 47%, rgba(1,219,88,1) 83%, rgba(0,255,102,1) 100%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 350px;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-item a {
    color: #ffffff;
    text-decoration: none;
    background-color: black;
    
    
  }
  
  .nav-item a:hover {
    background-color: #000000;
  }
  
  .author-name{
    font-family: monospace;
    color: #ffffff;
  }