.app {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.main-content {
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.now-playing-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.now-playing-bar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.dark-theme {
  background-color: #121212;
  color: white;
}
